

@charset "utf-8";




.word
{
	text-align:left;
	font-size:40px;
	font-weight:200;
	color:#00F;
	background:#FFF;
}

#para
{
	background:#0FF;
	font-family:"Arial Black", Gadget, sans-serif;
	font-size:14px;
	font-style:italic;
	
}









